*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* #################### ANIMATION #################### */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  display: none; 
}

/* #################### NAVBAR #################### */
header {
    background: #007BFF;
    color: #fff;
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo p {
    font-size: 1.5rem;
    margin: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin-left: 1rem;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-list a:hover {
    background: #333;
    color: #fff;
    border-radius: 4px;
}

/* #################### MENU #################### */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.3s ease;
}

/* #################### HOMEPAGE #################### */
.hero {
    background-image: url(/images/background.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
  }
  
  .hero-content {
    text-align: center;
    padding: 20px 20px 20px;
  }
  
  .hero-content h1 {
    font-size: 68px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px black;
  }
  
  .hero-content p {
    font-size: 27px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  .hero-content .btn {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 0px 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .hero-content a{
    color: #fff;
    text-decoration: none;
  }
  
  .hero-content .btn:hover {
    background-color: #fff;
  }  
  .hero-content a:hover{
    color: #007BFF;
  }
  
  
  /* #################### INTRO SECTION #################### */

  .intro {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .intro h2 {
    margin-top: 0;
    font-weight: bold;
    color: #007BFF;
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 18px;
    line-height: 28px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .intro p:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #444;
  }
  
  .intro p:last-child {
    font-size: 16px;
    color: #888;
  }

  .intro span{
    color: #111;
    font-weight: 600;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .fade-in.show {
    opacity: 1;
  }
  
  /* animations */
  .intro h2 {
    animation: fadeInUp 0.5s;
  }
  
  .intro p {
    animation: fadeInUp 0.5s;
    animation-delay: 0.6s;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /*##################### Process Section #################### */

  .process {
    max-width: 1300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .process h2 {
    margin-top: 0;
    font-weight: bold;
    color: #007BFF;
    font-size: 56px;
    text-align: center;
  }
  
  .process-step {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .process-step:last-child {
    border-bottom: none;
  }
  
  .process-step h3 {
    margin-top: 0;
    font-weight: bold;
    color: #666;
  }
  
  .process-step p {
    font-size: 16px;
    line-height: 24px;
    color: #888;
  }
  
  .process-step::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    border-radius: 50%;
    margin: 10px;
    float: left;
  }
  
  .process-step:nth-child(1)::before {
    background-color: #4CAF50;
  }
  
  .process-step:nth-child(2)::before {
    background-color: #2196F3;
  }
  
  .process-step:nth-child(3)::before {
    background-color: #FFC107;
  }
  
  .process-step:nth-child(4)::before {
    background-color: #9C27B0;
  }
  
  .process-step:nth-child(5)::before {
    background-color: #66D9EF;
  }
  
  /* #################### SERVICE SECTION #################### */
  .service h2{
    font-size: 56px;
    color: #007BFF;
    text-align: center;
  }


  .services {
    max-width: 1300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .service-item {
    flex-basis: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .service-item h3 {
    margin-top: 0;
    font-weight: bold;
    color: #007BFF;
    font-size: 24px;
  }
  
  .service-item p {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .service-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .service-item li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .service-item li:last-child {
    border-bottom: none;
  }
  
  .service-item li::before {
    content: "\2713";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #007BFF;
  }
   
  /* #################### FOOTER #################### */
  footer{
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }

/* #################### MOBILE RESPONSIVE #################### */
@media (max-width: 768px) {
  /* #################### MENU #################### */
    .nav-list {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #007BFF;
        flex-direction: column;
        width: 200px;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-list li {
        margin: 0;
    }

    .nav-list a {
        padding: 1rem;
        text-align: center;
        display: block;
    }

    .hamburger {
        display: flex;
    }

    .nav-list.show {
        display: flex;
    }

    /* #################### HOMEPAGE #################### */
    .hero {
      height: 90vh;
    }
    .hero-content h1 {
      font-size: 43px;
      margin-bottom: 7px;
      text-shadow: 2px 2px 2px black;
    }
    
    .hero-content p {
      font-size: 22px;
      margin-bottom: 20px;
    }
    
    .hero-content .btn {
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
      padding: 8px 14px;
      font-size: 15px;
      font-weight: bold;
      margin: 0px 5px;
    }

    .intro {
      max-width: 1300px;
      margin: 15px 5px;
      padding: 15px;
    }
    
    .intro h2 {
      color: #007BFF;
      font-size: 36px;
      margin-bottom: 13px;
    }
    
    .intro p {
      font-size: 16px;
      margin-bottom: 15px;
    }
  
    .intro span{
      color: #222;
      font-weight: 600;
    }

    .intro p {
      text-align: start;
    }
        
    /* animations */
    .intro h2 {
      animation: fadeInUp 0.5s;
    }
    
    .intro p {
      animation: fadeInUp 0.5s;
      animation-delay: 0.6s;
    }
    
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    /*##################### Process Section #################### */
  
    .process {
      max-width: 1300px;
      margin: 30px 5px;
      padding: 20px;
      background-color: #f7f7f7;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    
    .process h2 {
      margin-top: 0;
      font-weight: bold;
      color: #007BFF;
      font-size: 40px;
      text-align: center;
    }
    
    .process-step {
      margin-bottom: 17px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }
    
    .process-step:last-child {
      border-bottom: none;
    }
    
    .process-step h3 {
      margin-top: 0;
      font-weight: bold;
      color: #666;
    }
    
    .process-step p {
      font-size: 16px;
      line-height: 24px;
      color: #888;
    }
    
    .process-step::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      background-color: #4CAF50;
      border-radius: 50%;
      margin: 10px;
      float: left;
    }
    
    .process-step:nth-child(1)::before {
      background-color: #4CAF50;
    }
    
    .process-step:nth-child(2)::before {
      background-color: #2196F3;
    }
    
    .process-step:nth-child(3)::before {
      background-color: #FFC107;
    }
    
    .process-step:nth-child(4)::before {
      background-color: #9C27B0;
    }
    
    .process-step:nth-child(5)::before {
      background-color: #66D9EF;
    }
    
    /* #################### SERVICE SECTION #################### */
    .service h2{
      font-size: 38px;
      color: #007BFF;
      text-align: center;
    }
  
  
    .services {
      max-width: 1300px;
      margin: 7px;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }
    
    .service-item {
      flex-basis: 100%;
      margin: 15px;
      padding: 20px;
      background-color: #f7f7f7;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }
    
    .service-item:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    
    .service-item h3 {
      margin-top: 0;
      font-weight: bold;
      color: #007BFF;
      font-size: 24px;
    }
    
    .service-item p {
      font-size: 16px;
      line-height: 24px;
      color: #666;
      margin-bottom: 20px;
    }
    
    .service-item ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .service-item li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    
    .service-item li:last-child {
      border-bottom: none;
    }
    
    .service-item li::before {
      content: "\2713";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 10px;
      color: #007BFF;
    }

}
